{% extends "layout.html" %}
{% block title %} Ouijordle {% endblock %}
{% block head %}
    {{ super() }}
{% endblock %}
{% block content %}
    <h1 style="color: #fefefe"><a style="color: #808080" href="/static/ouijortsle.png">Ouijordle</a></h1>
    <p style="color: #fefefe">What if <a style="color: #808080" href="https://reddit.com/r/AskOuiji">r/AskOuiji</a> and <a style="color: #808080" href="https://www.nytimes.com/games/wordle/index.html">Wordle</a> had a child?</p>
{% endblock %}
{% block scripts %}
{% endblock %}